h1 {
	color: purple;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500px;
	text-transform: uppercase;
	text-align: center;
}

p {
	text-align: center;
}

body{
	height: 100%;
	background-color: red;
	border-style: dotted;
	border-color: green;


}


div.test{
	width: 50%;
	border-style: solid;
	border-color: white;
}